template(name="header")
  header.header
    .header__inner
      .header__logo= logo
      
      .header__search
        input.header__input
        
      a.header__user(href="{{ pathFor 'profile'}}") evgen_traytyak
